<div class="container">
  <div class="row">
    <div class="col-10 mt-2 mb-2">
       <div class="card">
        
        <div class="card-img-overlay d-flex"  style="top: auto; bottom: 0;">
          <div class="m-auto">
            <p class="text-center"><h3><strong>推し活MAP!<br>
                           
            </p>
        </div>
      </div>
      </div>
      
      
      <h4 class="mt-2">新着投稿</h4>
      <div class = "d-flex justify-content-around">
      <div class="search-items d-flex flex-wrap">
        
      <% @posts.each do |post| %>
      <div class="search-item mr-4">
        <%= image_tag post.image%>
        <div><%=  post.introduction %></div>
      </div>
      <% end %>
            
         
    <div class="text-right">
      
    </div>
  </div>
</div>