<!-- タグリスト -->
  

  <p><%= image_tag @post.image %></p>

  <p><%= @post.introduction %></p>
  
  <% @post_tags.each do |tag| %>
  <i class="fa-sharp fa-solid fa-tag"></i>
  タグ　<%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
  <% end %>
  
 
  
  <p><%= link_to "投稿一覧", posts_path, class: 'nav-link text-light' %></p>